
container_commands:
  01_create_cert_dir:
    command: "mkdir -p /etc/pki/tls/certs"
    
files:
  "/etc/pki/tls/certs/supabase-ca.pem":
    mode: "000400"
    owner: root
    group: root
    content: |
      {
        "Fn::Join": [
          "\n",
          [
            "-----BEGIN CERTIFICATE-----",
            { "Fn::GetAtt": ["AWSEBSecretsManagerSecrets", "SecretString", "SUPABASE_CA_CERT"] },
            "-----END CERTIFICATE-----"
          ]
        ]
      }

Resources:
  AWSEBSecretsManagerSecrets:
    Type: "AWS::SecretsManager::Secret"
    Properties:
      Name: "supabase/prod-ca-cert" # The name (not ARN) of your secret