fastapi[all]
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-dotenv
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
firebase-admin

# Testing
pytest
pytest-cov
httpx
pytest-mock
pytest-asyncio
ruff